body {

    font-family: 'Open Sans';
    background-color: #F2F2F2;
}

.banner-home {

    width:100%;
    margin:0 0 -3px -3px;
    opacity: 0.85;
}

.frase-intro  {

    position: absolute;
    left:0;
    top: 0;
    font-size: 60px;
    color: #EAEAEA;
    letter-spacing: 0.3rem;
    font-weight: 400;
    margin: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    line-height: 1.5;
 
}

.estilo-intro-empresas {

    background-color: #3B4D66;
    padding: 0 7px;
    font-weight: 600;
    font-style: italic;
}

.estilo-intro-importam {

    border-bottom: 5px solid #3B4D66 ;
}


.navegacao-site {

    background-color: #3B4D66;
    width:100%;
    margin:0;
    height: 80px;
}

.opcoes-navegacao {

    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
    margin: 10px
    
    
}

.menu-navegacao {

    text-align: center;
    padding: 20px
}

.link-navegacao {

    color: #EAEAEA;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2rem; 

}

.link-navegacao:hover {

    color: #6887B3;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s;
    letter-spacing: .3rem;
    
}

.titulo-secao-texto-branco {

    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
    color: #3B4D66;
    margin: 40px 40px 40px 100px

}
.conteudo-secao {

    width: 1000px;
    margin: auto;
}

.paragrafo-sobre {

    margin: 40px;
    color: #262626;
}

.foto-sobre-mim {

    float: left;
    margin: 40px
}

.sobre {

    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.onde-achar-titulo {

    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #3B4D66;
    margin: 0 0 20px 0;

}

.logos-onde-achar {

    width: 40px;
    padding: 10px;

}

.logos-onde-achar:hover {

    width: 45px;
    transition: 0.3s;
    
    

}
.link-onde-achar {

    text-decoration: none;
}

.barra-titulo {

    width: 40px 0 0 0;
    height: 100px;
    width:100%;
    margin:0 0 60px 0;
    background-color: #3B4D66;
}

.onde-achar {

    margin: 0 0 60px 0;
}
.titulo-barra {

    text-transform: uppercase;
    font-size: 25px;
    color: #EAEAEA;
    text-align: left;
    margin: 40px 0 0 0;
    padding: 35px 0 0 40px;
    letter-spacing: 0.3rem;
    font-weight: bold;

}



.card {

    width: 1000px;
    height: 600px;
    background-color: #EAEAEA;
    box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 40px;

}

.logo-experiencia {

    padding: 40px 40px 0 40px;
}

.empresa-experiencia {

    text-decoration: none;
    color: #3B4D66;
    font-size: 35px;
    text-align: center;
}

.empresa-experiencia:hover {

    text-decoration: none;
    color: #3B4D66;
    font-size: 36px;
    text-align: center;
    border-bottom: solid #3B4D66 ;
    transition: 0.3s;
}